body {
  background: #eee;
  margin: 0;
  padding: 0;
}

.cards { /* table */
  border-collapse: collapse;
  border-spacing: 0;
}

.golive { /* div, card */
  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;

  float: left;
  
  width: 100px;
  height: 100px;
  
  /*
   * if content exceeds card height, tell browser to add vertical scroll thumb 
   * to the card.
   */
  overflow-y: auto; 
  
  margin: 10px;
  padding: 5px;
}

.active {
  background: #fff;
  font-weight: bolder;
  color: #000;
}

.inactive {
  background: #eee;
  font-weight: normal;
  color: #C4C4C4;
}

.future {
  opacity: 0.25;
  border: dotted fuchsia;
}

button[data-go-live] { 
  background: aqua; 
}

